<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <h1>Users</h1>
<% for (var index = 0; index < data.length; index++) { %>
  <h2>
    <a href="/<%= data[index]._id %>">
      <%= data[index].name %>, <%= data[index].age %>
    </a>
  </h2>
  <p>Contact: <%= data[index].email %></p>
  <p>Hobby: <%= data[index].hobby %></p>
  <p><%= data[index]._id %></p>
<% } %>
  </body>
</html>
