<!doctype html>
<title><%= data.title %> - My movie website</title>
<h1>Movies</h1>
<% for (var index = 0; index < data.length; index++) { %>
  <h2>
    <a href="/<%= data[index].id %>">
      <%= data[index]._id %>
    </a>
  </h2>
  <p><%= data[index].username %></p>
  <p><%= data[index].password %></p>
<% } %>
