<% for (var index = 0; index < data.length; index++) { %>
<div id="profileTile" class="resultTile">
  <img src="../../static/images/user.png" alt="man">
  <div>
    <h1><%= data[index].name %>, <%= data[index].age %></h1>
    <p><span>Hobby's:</span> <%= data[index].hobby1 %>, <%= data[index].hobby2 %>, <%= data[index].hobby3 %></p>
    <p><span>Opleiding:</span> <%= data[index].education %></p>
    <ul class="actionButtons">
      <li><button class="likeButton"></button></li>
      <li><button class="discardButton"></button></li>
    </ul>
  </div>
</div>
<% } %>